/* .search-container {
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 200px;
    padding: 10px;
    border: 1px solid #c5bebe;
    border-radius: 5px;
  }
  
  .search-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   */

   .more-products {
    margin-top: 10%;
    font-family: 'apple-system, BlinkMacSystemFont', "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  

  .back-button {
    position: fixed;
   
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the button is above other elements */
  }
  
  .back-button:hover {
    background-color: #e2e6ea;
  }