/* .twoimg {
    display: flex; 
    justify-content: center; 
  }
  
  .image-container {
    text-align: center; 
    margin: 0 10px; 
  }
  
  .horizontal-image {
    width: 100%;
    height: auto; 
    margin-top: 10%;
  }
  
  .image-container p {
    margin-top: 1%; 
  }
   */