
.container{
  margin-top: 8%;
  font-family: 'Roboto', Arial, sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.815);
  
  }
  
  .home img {
    width: 50%;
    height: 50%;
    margin-bottom: 0px;
  }
  
  .image-text {
    max-width: 50%;
    margin: 0 auto;
    font-family: 'apple-system, BlinkMacSystemFont', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(47, 47, 112);
  }
  
  .image-text .M {
    font-size: 46px;
  }

/* slider */
.text-center {
  margin-bottom: -70px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  font-family: 'apple-system, BlinkMacSystemFont', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.slider {
  column-gap: 10%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  text-align: center;
  margin-bottom: 5%;
  flex:  200px;
  max-width: 200px;
}

.circle-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover; 
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* transition:  0.3s ease; */
}

.circle-image:hover {
  /* transform: scale(1.1); */
}

.image-container p {
  margin-top: 5px;
  padding: 10px;
  font-family: 'apple-system, BlinkMacSystemFont', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .slider {
    column-gap: 5%; 
    flex-wrap: wrap;
    

  }
  .home {
   margin-top: 10%;
  }
  .image-container {
    flex-basis: 50%;
    max-width: none; 
  }
}


